:root {

    --BearsPaw:hsla(25, 21%, 37%, 1);
    --BearsPawDark:hsla(42, 11%, 18%, 1);
    --ZebraStripe:hsla(37, 100%, 93%, 1);
    --ZebraStripeHover:hsla(37, 30%, 70%, 1);
    --ZebraStripeDark:hsla(37, 38%, 84%, 1);
    --ToucansBeak: hsla(34, 100%, 67%, 1);
    --ToucansBeakDark:hsla(25, 80%, 61%, 1);
    --SharkFin:hsla(222, 40%, 60%, 1);
    --SharkFinDark:hsla(217, 28%, 32%, 1);
    --FlamingoFeather: hsla(1, 100%, 88%, 1);
    --FlamingoFeatherDark:hsla(344, 69%, 70%, 1);
    --SnakesScale:hsla(71, 30%, 45%, 1);
    --SnakesScaleDark:hsla(86, 21%, 34%, 1);
    --ParrotWing: hsla(173, 28%, 47%, 1);
    --ParrotWingDark: hsla(173, 28%, 47%, 1);
    --Red:hsla(5, 80%, 61%, 1);

    --spacing-baseline: .5rem;
    --spacing-01: 0.125rem;
    --spacing-02:0.25rem;
    --spacing-03:var(--spacing-baseline);
    --spacing-04: 0.75rem;
    --spacing-05: 1rem;
    --spacing-06:1.5rem;
    --spacing-07:2rem;
    --spacing-08:2.5rem;
    --spacing-09:3rem;
    --spacing-10:4rem;
    --spacing-11:5rem;
    --spacing-12:6rem;
    --spacing-13:10rem;
    --spacing-14:15rem;
    --spacing-15:20rem;

    --type-01:0.75rem;
    --type-02:0.875rem;
    --type-03:1rem;
    --type-04:1.125rem;
    --type-05:1.25rem;
    --type-06:1.5rem;
    --type-07:1.75rem;
    --type-08:2rem;
    --type-09:2.25rem;
    --type-10:2.625rem;
    --type-11:3rem;
    --type-12:3.375rem;
    --type-13:3.75rem;
    --type-14:4.25rem;
    --type-15:4.75rem;
    --type-16:5.25rem;
    --type-17:5.75rem;
    --type-18:6.25rem;
    --type-19:6.875rem;
    --type-20: 7.5rem;
    --type-21: 8.125rem;
    --type-22: 8.875rem;
    --type-23:9.625rem;
    --type-24: 10.375rem;
    --type-25: 11.125rem;

    --radii-s: 3px;
    --radii-m: 6px;
    --radii-l: 12px;

    --text-normal: var(--ZebraStripe);
    --text-hover: var(--ZebraStripeHover);
    --text-soft: var(--ZebraStripeDark);
    --text-white: var(--ZebraStripe);
    --text-title: var(--ZebraStripe);
    --text-dark: var(--BearsPawDark);
    --text-inverted: var(--BearsPawDark);
    --orange: var(--ToucansBeak);
    --blue: var(--SharkFinDark);
    --pink: var(--FlamingoFeather);
    --bg-1: var(--BearsPawDark);
    --bg-1-080: hsla(42, 11%, 18%, 0.8);
    --bg-2:var(--BearsPaw);
    --bg-3: var(--ZebraStripeDark);
    --bg-4:var(--SnakesScale);
    --green-blue:var(--ParrotWing);
    --green: var(--SnakesScale);
    --dark-green: var(--SnakesScaleDark);
    --red : var(--Red)
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-noto-sans);
    color: var(--text-normal);
    background-color: var(--bg-1);

}
button, input {
    font-family: var(--font-noto-sans);
}
h1 {
    font-size: var(--type-12);
    font-family: var(--font-eagle-bold);
    text-align: center;
}
h2 {
    font-family: var(--font-eagle-bold);
    font-size: var(--type-08);
    line-height: var(--spacing-08);
}
p {
    font-size: var(--type-03);
    line-height: var(--spacing-06);
    max-width: 80ch;
}
footer {
    margin: 0 auto;
    align-self: end;
    margin-top: var(--spacing-07);
    & > p {
        font-size: var(--type-01);
        line-height: var(--spacing-05);
        max-width: 100%;
    }
}
a {
    color: var(--SharkFin);
}

@media (width < 500px)
{
    h1 {
        font-size: var(--type-12);
        font-family: var(--font-eagle-bold);
    }
}
